#home {
  border-width: 5px;
  border-color: orange;
  border-style: outset;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 120px;
  background-color: darkgray;
  height: 680px;
  width: 1010px;
}

#field {
  border-radius: 6px;
  background-image: url(background.jpeg);
  background-size: cover;
  border: 5px solid black;
  height: 600px;
  width: 1000px;
}

#paddleField {
  border-radius: 10px;
  border: 4px solid black;
  margin: 0px;
  position: relative;
  display: inline-block;
  left: 420px;
  top: 570px;
  background-color: red;
  height: 20px;
  width: 180px;
}

#ball {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#ballField {
  left: 520px;
  top: 300px;
  position: relative;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#startButton {
  position: relative;
  border: 10px;
  float: left;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: gray;
  height: 50px;
  width: 150px;
}

#stopButton {
  position: relative;
  border: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: gray;
  height: 50px;
  width: 150px;
}

#score {
  margin-top: 0px;
  margin-left: 300px;
  font-weight: bold;
  float: left;
  border: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  background-color: gray;
  height: 50px;
  width: 180px;
}

#looseMessage {
  font-size: 20px;
  margin-top: 200px;
  font-weight: bold;
  text-align: center;
}

#restart {
  margin-top: -20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}

#textArea{
  border: 1px solid black;
  height: 30%;
}

.playerId{
  margin-top: 10%;
  text-align: center;
}

#playerField{
  border: 1px solid gray;
  width: 400px;
  margin-left: 35%;
  border-left-color: white;
  border-right-color: white;
  font-size: 20px;
}
